<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sq.mobile.hook_fix_host_one">

    <application
        android:name=".UPFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 【宿主】 -->
        <activity android:name=".activity.MainActivity">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <action android:name="android.intent.action.VIEW" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>

        <activity android:name=".activity.EasyHookActivity">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".activity.plu_in_solution_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sq.mobile.hook_fix_host_one.activity.ActivityA"/>


        <!-- 【插件】占位 -->
        <service android:name="com.sq.mobile.hook_fix_plu_one.TestService1" />
        <activity android:name="com.sq.mobile.hook_fix_plu_one.TestActivity1"/>

    </application>

</manifest>